body {
	background-color: #000000;
	color: #00ff00;
}

h1 {
	text-align: center;
}

body{
	background-image: url(Matrix.png);
}

body, h2{
	padding-top: 50px;
}

body, h3{
	text-align: center;
}
div {
	text-align: center;
}

footer, h2 {
	text-align: center;
}

#MatPic {
	height: 250px;
	width: 450px;
}