
body {
	background-color: #000000;
	color: #00ff00;
}

h1 {
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
}

body{
}

body, h2{
	padding-top: 50px;
	font-family: 'Alegreya Sans SC', sans-serif;
}

body, h3{
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
}
div {
	text-align: center;
}

footer, h2 {
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
}

#MatPic {
	height: 250px;
	width: 450px;
}